@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', serif;

  --color-text: #150505;
  --color-background: #fcfcfc;
  --color-primary: #d2413a;
  --color-secondary: #90e6c2;
  --color-accent: #61abdb;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}
