@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: 'Inter', serif;

  --color-text: #121111;
  --color-text-muted: #696363;
  --color-background: #fcfcfc;
  --color-primary: #ea1f26;
  --color-secondary: #90e6c2;
  --color-accent: #61abdb;

  --color-text-dark: #eeeded;
  --color-text-muted-dark: #9c9696;
  --color-background-dark: #030303;
  --color-primary-dark: #e0151c;
  --color-secondary-dark: #19704c;
  --color-accent-dark: #246d9e;
}
